@font-face {
  font-family: "Fa Brands 400";
  src: url('../fonts/fa-brands-400.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fa 400";
  src: url('../fonts/fa-regular-400.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fa Solid 900";
  src: url('../fonts/fa-solid-900.woff2') format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --midnight-blue: #0e2a38;
  --white: #fafafa;
  --red: red;
  --dark-slate-grey: #3a3a3a;
  --grey: #7e7e7e;
  --silver: #bdbdbd;
  --dim-grey: #4e4e4e;
  --gainsboro: #e7e7e7;
  --click-blue: #06a9d1;
  --white-smoke: #f1f1f1;
  --gold: #d3cb00;
  --dark-orange: #ff7a00;
  --dark-orchid: #a806d1;
  --tomato: #f95759;
  --light-grey: #d6d6d6;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  background-color: #f1f1f1;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  overflow: hidden;
}

a {
  color: red;
  text-decoration: none;
}

.footer {
  z-index: 6000;
  color: #0000;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding-left: 70px;
  transition: height .2s ease-in-out, background-color .2s;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer:hover {
  height: 40px;
}

.body-section {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: block;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.right-panel-content {
  float: right;
  width: 0;
  min-width: 0;
  height: 100%;
  margin-left: 0;
  display: block;
}

.exp-content {
  background-color: red;
  height: 0;
  overflow: hidden;
}

.plus-sign {
  z-index: 55;
  float: right;
  opacity: 0;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 100%;
  font-family: Material design iconic font;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: none;
  position: relative;
  top: 0;
  right: 0;
}

.minus-sign {
  float: right;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 100%;
  font-family: Material design iconic font;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  transition: all .2s ease-in-out;
  display: flex;
  position: relative;
}

.tv-panel {
  z-index: 9000;
  float: right;
  background-color: #000;
  width: 400px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 80px;
  overflow: hidden;
  box-shadow: 0 -1px 3px #00000054;
}

.widget-list {
  position: relative;
  overflow: hidden;
}

.widget-list.w--open {
  position: relative;
}

.sidewidget-list {
  height: 100%;
  overflow: hidden;
}

.loading-splasher {
  opacity: 1;
  color: #7e7e7e;
  text-align: center;
  background-color: #f1f1f1;
  border: 40px solid #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: Exo, sans-serif;
  font-weight: 500;
  line-height: 30px;
  display: none;
  position: fixed;
  overflow: hidden;
}

.window {
  z-index: 4000;
  float: left;
  color: red;
  background-color: #fff;
  min-width: 160px;
  height: auto;
  min-height: 40px;
  max-height: 58vh;
  margin-bottom: 0;
  padding: 5vh 0 0;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
  display: none;
  position: relative;
  top: auto;
  left: 60px;
  right: auto;
  overflow: hidden;
  box-shadow: 1px 1px 3px #00000080;
}

.window-content {
  height: 100%;
  max-height: 53vh;
  padding-left: 0;
  position: relative;
  top: 0;
  overflow: hidden;
}

.animated-logo {
  background-color: #0000;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding: 10px 15px 1px 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.eye-lid {
  opacity: 1;
  background-color: #f1f1f1;
  border-radius: 10px;
  align-self: center;
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  left: 0;
}

.player-shortcut {
  opacity: .25;
  background-color: #fff;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.n-header {
  z-index: 9000;
  flex-direction: row;
  justify-content: flex-end;
  height: 40px;
  margin-right: 40px;
  transition: all .35s ease-in-out;
  position: absolute;
  top: 0;
  right: 360px;
}

._w-apps-menu {
  z-index: 8000;
  width: 0;
  height: 100vh;
  padding-top: 240px;
  position: fixed;
  top: 0;
  left: 0;
}

.c-content {
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-height: 60vh;
  position: relative;
  overflow: hidden;
}

.read {
  float: left;
  flex: none;
  width: 400px;
  display: none;
  position: fixed;
  top: 184px;
  right: 56px;
  box-shadow: 1px 1px 5px #0000001a;
}

.watch {
  float: left;
  flex: none;
  width: 200px;
  padding-right: 0;
  display: none;
  position: fixed;
  top: 156px;
  left: 56px;
  box-shadow: 1px 1px 5px #0000001a;
}

.search {
  float: left;
  flex: none;
  width: 400px;
  max-height: 100%;
  display: none;
  position: fixed;
  top: 56px;
  right: 56px;
  box-shadow: 1px 1px 5px #0000001a;
}

.search-shortcut {
  cursor: pointer;
}

.search-shortcut:hover {
  width: 160px;
}

.c-widgets {
  flex: none;
  width: 220px;
  display: none;
  position: fixed;
  top: 414px;
  right: 236px;
  box-shadow: 1px 1px 5px #0000001a;
}

.bookmarks {
  background-color: #fff;
  flex: none;
  width: 160px;
  display: none;
  position: fixed;
  top: 414px;
  right: 56px;
  box-shadow: 1px 1px 5px #0000001a;
}

.bookmarks-shortcut {
  display: block;
  position: relative;
}

.e-user-panel {
  background-color: #fff;
  background-image: url('../images/11794398_1001252599895695_7426448711575431393_o.jpg');
  background-position: 50%;
  background-size: cover;
  width: 400px;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.ut-icon {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-family: Fontawesome webfont;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  transform: rotate(180deg);
}

.watch-cancel {
  opacity: 0;
  color: #fff;
  background-color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-family: Clickmedia;
  font-size: 24px;
  transition: opacity .3s;
  display: none;
  position: absolute;
  top: 0;
}

.watch-cancel:hover {
  opacity: 1;
}

.navicon {
  float: right;
  color: #bdbdbd;
  cursor: pointer;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 40px;
  padding-left: 12px;
  padding-right: 8px;
  font-family: Clickmedia;
  font-size: 24px;
  font-weight: 400;
  transition: all .35s ease-in-out;
  display: flex;
  overflow: hidden;
}

.navicon:hover {
  color: #fff;
  background-color: red;
  border-radius: 0;
  width: 150px;
  height: 40px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.video-chat-panel {
  float: right;
  width: 520px;
  padding-bottom: 0;
  display: none;
  position: fixed;
  top: 40px;
  bottom: 40px;
  right: 40px;
}

.feedback-panel {
  color: #7e7e7e;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  width: 440px;
  display: none;
  position: fixed;
  top: 40px;
  bottom: 40px;
  right: 40px;
}

.workspace {
  display: none;
  position: fixed;
  inset: 40px;
}

.hipchat {
  width: 800px;
  padding-top: 40px;
  display: none;
  position: fixed;
  top: 0;
  bottom: 40px;
  right: 40px;
}

.tv-window {
  z-index: 9999;
  width: 500px;
  max-height: 371px;
  display: block;
  position: fixed;
  bottom: 0;
  right: 80px;
  overflow: hidden;
  box-shadow: 1px 1px 5px #0000001a;
}

.lights-off {
  z-index: 5;
  opacity: 0;
  background-color: #000000d9;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.lights-toggle-off {
  color: #fff;
  cursor: pointer;
  background-color: #262626;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
  margin-left: 4px;
  font-family: Clickmedia;
  font-size: 24px;
  transition: all .35s ease-in-out;
  display: flex;
  position: absolute;
  bottom: 80px;
  left: 0;
}

.lights-toggle-off:hover {
  background-color: red;
}

.cancel-navlink {
  float: right;
  clear: right;
  color: red;
  cursor: pointer;
  background-color: #fff;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 40px;
  padding-right: 8px;
  font-family: Clickmedia;
  font-size: 24px;
  transition: all .35s ease-in-out;
  display: flex;
  overflow: hidden;
}

.cancel-navlink:hover {
  color: #fff;
  background-color: red;
  width: 150px;
}

.browser-search-bar {
  border-left: 4px #f1f1f1;
  border-right: 4px #f1f1f1;
  flex-wrap: wrap;
  width: 300px;
  height: 40px;
  overflow: hidden;
}

.browser-window {
  z-index: 1000;
  height: 0;
  padding-top: 0;
  position: fixed;
  inset: 40px 40px 40px 280px;
  overflow: hidden;
}

.n01_browser {
  background-color: #fff;
  flex-direction: row;
  flex: none;
  align-items: flex-start;
  margin: 8px;
  display: flex;
}

.n01_workspace {
  background-color: #fff;
  flex: none;
  min-width: 80vw;
  margin: 8px;
  display: flex;
}

.progress-bar {
  z-index: 100;
  background-color: red;
  height: 1px;
  position: fixed;
  bottom: 40px;
  left: 40px;
  right: 40px;
}

.chat-with-lillo {
  position: fixed;
  top: 160px;
  left: 0;
}

.chat-with-lillo-window {
  width: 320px;
  height: 500px;
  position: fixed;
  bottom: 0;
  left: 380px;
}

.user-settings-section-content {
  overflow: hidden;
}

.homeframe {
  float: right;
  background-color: #f1f1f1;
  flex: none;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
}

.window-actions-menu {
  z-index: 5000;
  background-color: #f1f1f1;
  width: 114px;
  height: 38px;
  position: absolute;
  top: 1px;
  right: 1px;
}

.workspace-window {
  z-index: 50;
  float: right;
  text-align: right;
  width: 100%;
  position: relative;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.paragraph-2 {
  text-align: left;
  border-left: 1px solid #c90000;
  padding-left: 20px;
}

.home-section-wrap {
  margin-bottom: 30px;
}

.image-5 {
  width: 400px;
}

.navigation {
  background-color: #000;
  align-items: center;
  padding: 30px 50px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.div-block-7 {
  opacity: 0;
  text-align: left;
  background-color: #000000e6;
  padding: 250px 24px 24px;
  transition: all .5s ease-in-out;
  display: block;
  position: absolute;
  inset: 0%;
}

.div-block-7:hover {
  opacity: 1;
  padding-top: 24px;
}

.div-block-4 {
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  max-width: 320px;
  margin-left: 20px;
  display: flex;
}

.link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition-property: all;
  display: block;
}

.link:hover {
  color: #c90000;
}

.team-pic {
  cursor: auto;
  background-color: #f4f4f4;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 340px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.team-pic._9 {
  background-image: url('../images/hugo2.jpg');
}

.team-pic._5 {
  background-image: url('../images/Hameri-photo-ExMBA.jpg');
}

.team-pic._7 {
  background-image: url('../images/headshot.jpg');
  background-position: 50% 10%;
  background-size: cover;
}

.team-pic._4 {
  background-image: url('../images/Emilie-raffo.jpg');
}

.team-pic._1 {
  background-image: url('../images/consensus-capital-team_0001_DSC04682.jpg');
  background-position: 10%;
}

.team-pic._3 {
  background-image: url('../images/Pietari-Kauttu.jpg');
}

.team-pic._3._9 {
  background-image: url('../images/Antonio.jpeg');
  background-position: 50% 0;
}

.team-pic._6 {
  background-image: url('../images/Harri-passport-001.jpeg');
}

.team-pic._2 {
  background-image: url('../images/consensus-capital-team_0004_L1003769-1.jpg');
}

.team-pic._8 {
  background-image: url('../images/WhatsApp-Image-2025-08-29-at-07.39.32_e573ddc2.jpg');
}

.div-block-11 {
  background-image: url('../images/consensus.jpg');
  background-position: 50% 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  inset: 0%;
}

.section-heading-wrap {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.section-heading-wrap._2 {
  margin-top: 50px;
}

.section-heading-wrap._1 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 50px;
  display: block;
}

.team-member-title-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
}

.about-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1fr 2fr;
  align-items: center;
  margin-bottom: 80px;
}

.about-grid.cc-about-2 {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". .";
}

.div-block-4-copy {
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 22px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
}

.button-2 {
  background-color: #c90000;
  border-radius: 14px;
  margin-left: 50px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 12px;
  font-weight: 500;
}

.button-2:hover {
  color: #fff;
  background-color: #000;
}

.label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.label.cc-light {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.divider {
  background-color: #c90000;
  width: 100%;
  height: 1px;
  margin-top: -1px;
  margin-bottom: 100px;
  margin-left: auto;
}

.div-block-5 {
  flex: none;
  width: 340px;
}

.button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #c90000;
  border: 1px #c90000;
  border-radius: 0;
  padding: 12px 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s, opacity .4s, color .4s;
}

.button:hover {
  color: #fff;
  background-color: #000;
}

.button:active {
  background-color: #43464d;
}

.div-block-6 {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  display: flex;
}

.image-9 {
  width: 100%;
  display: block;
}

.text-block-4 {
  max-width: 940px;
  font-size: 10px;
  line-height: 14px;
}

.checkbox-field {
  text-align: left;
  text-transform: none;
  margin-bottom: 30px;
}

.text-block-2 {
  color: #c90000;
  text-align: right;
  text-transform: uppercase;
  font-weight: 500;
}

.section {
  position: relative;
}

.section.cc-store-home-wrap._1 {
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}

.intro-content {
  text-align: center;
  width: 70%;
  max-width: 1140px;
}

.intro-content.cc-homepage {
  color: #000;
  margin-bottom: 0;
  position: relative;
}

.image-4 {
  float: left;
}

.text-block-3 {
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.link-block {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #444;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  min-width: 40%;
  max-width: 48%;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  transition-property: all;
  display: flex;
}

.link-block:hover {
  box-shadow: none;
  color: #fff;
  border-color: #ddd;
}

.home-content-wrap {
  margin-top: 80px;
  margin-bottom: 120px;
}

.div-block-3 {
  flex: none;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 180px;
  display: flex;
}

.swiss {
  text-align: center;
  background-color: red;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-left: 4px;
  padding-top: 1px;
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  display: inline-block;
}

.image-10 {
  height: 60px;
}

.team-member-name {
  opacity: 1;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.intro-header {
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 0;
  padding-top: 20vh;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.intro-header._22 {
  padding-top: 30vh;
  padding-bottom: 50vw;
}

.heading {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 0;
  display: block;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
}

.paragraph._3 {
  font-size: 14px;
  line-height: 20px;
}

.form-contact {
  width: 680px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.heading-jumbo-small {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

.heading-jumbo-small._2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 200;
  line-height: 24px;
}

.webflow-link {
  align-items: center;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: .8;
}

.motto-wrap {
  text-align: center;
  width: 80%;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}

.image-3 {
  max-width: 120px;
  max-height: 80px;
}

.image-3.kratoma {
  max-width: 140px;
  transform: translate(0);
}

.image-3.cvvc {
  background-color: #fffdfd;
}

.div-block-10 {
  background-color: #c90000;
  width: 40px;
  height: 1px;
  margin: 20px auto;
}

.div-block-10._2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-span {
  text-align: left;
  text-transform: none;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
}

.accent {
  color: #c90000;
  font-weight: 500;
}

.paragraph-3 {
  color: #979797;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.div-block-2 {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
  display: flex;
}

.div-block-2.last {
  margin-bottom: 100px;
}

.link-4 {
  color: #0000;
  background-image: url('../images/social-media.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  margin-left: 3px;
  display: inline-block;
}

.link-4:hover {
  color: #0000;
}

.checkbox {
  background-color: #fff;
  border-width: 2px;
  border-color: #d6d6d6;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 8px;
}

.checkbox.w--redirected-checked {
  background-color: #c90000;
  background-size: 12px;
  border-color: #c90000;
}

.bio-modal {
  z-index: 10000;
  opacity: 1;
  background-color: #000;
  align-items: flex-start;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  position: fixed;
  inset: 0 0% 0%;
  overflow: auto;
}

.bio-modal.off {
  opacity: 0;
  display: none;
}

.container-2 {
  background-image: linear-gradient(#0000, #000 10% 84%, #0000);
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 30px;
}

.container-2.foot {
  background-image: linear-gradient(#0000, #000);
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.image-7 {
  float: right;
  margin-bottom: 20px;
}

.form-2 {
  display: none;
  position: static;
}

.image-2 {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-light {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.text-field-2 {
  color: #fff;
  background-color: #00000080;
  border: 1px #e4e4e4;
  border-bottom-style: solid;
  border-radius: 0;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.text-field-2:hover {
  border-color: #e3e6eb;
}

.text-field-2:active, .text-field-2:focus {
  border-color: #43464d #43464d #c90000;
}

.text-field-2::placeholder {
  color: #fff;
}

.text-field-2.m {
  min-height: 120px;
}

.link-2 {
  color: #fff;
  text-align: center;
  background-color: #000;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-right: 40px;
  font-family: Varela Round, sans-serif;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  transition-property: all;
  transition-duration: .35s;
  position: fixed;
  inset: 0% 0% auto auto;
}

.link-2:hover {
  color: #c90000;
  border-color: #c90000;
}

.image-8 {
  display: block;
}

.paragraph-4 {
  color: #ddd;
  text-align: right;
  background-color: #202020;
  padding: 20px;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 15px;
  line-height: 20px;
}

.div-block-14 {
  z-index: 9998;
  background-color: #000000d9;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  position: fixed;
  inset: auto 0% 0%;
}

.paragraph-5 {
  max-width: 680px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}

.footer-wrap {
  border-top: 1px solid #c90000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
}

.text-block {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 22px;
}

.link-5 {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

.body {
  color: #fff;
  background-color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  overflow: visible;
}

.rsvp-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  display: flex;
  position: relative;
}

.form-block-copy {
  background-color: #000000bf;
  border: 1px solid #444;
  max-width: 640px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px 20px;
  font-size: 13px;
  line-height: 18px;
}

.paragraph-6 {
  color: var(--white);
  max-width: 940px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
}

.navbar {
  z-index: 1000;
  background-color: #0000;
}

.section-2 {
  z-index: 9999;
  opacity: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #000000d9;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  inset: 0%;
}

.container-3 {
  background-color: var(--white);
  flex: 1;
  padding: 20px;
  position: relative;
}

.code-embed {
  margin-bottom: 0;
}

.link-6 {
  z-index: 1;
  color: #fff;
  text-align: center;
  background-color: #ff7a59;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  font-family: "Fa 400", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  position: absolute;
  inset: 10px 10px auto auto;
}

.text-span-2 {
  font-family: "Fa Brands 400", Arial, sans-serif;
}

.text-span-3 {
  font-family: "Fa Solid 900", Arial, sans-serif;
  font-weight: 400;
}

.nav-link {
  color: var(--white);
  transition: all .2s ease-in-out;
}

.nav-link:hover {
  color: var(--red);
}

.lin {
  font-family: "Fa Brands 400", Arial, sans-serif;
}

html.w-mod-js [data-ix="side-widget-list-start-closed"] {
  height: 0;
}

html.w-mod-js [data-ix="blinking-eye-lid"] {
  opacity: 1;
  height: 0;
}

html.w-mod-js [data-ix="logo-animation-on-load"] {
  height: 0;
}

html.w-mod-js [data-ix="logo-animation-on-load-2"] {
  height: 0;
  transform: translate(0, 10px);
}

html.w-mod-js [data-ix="logo-animation-on-load-3"] {
  transform: translate(-300px);
}

html.w-mod-js [data-ix="open-window"] {
  opacity: .25;
}

html.w-mod-js [data-ix="c-collapse-on-load"] {
  opacity: 0;
  display: block;
  transform: translate(0, 100%);
}

html.w-mod-js [data-ix="c-collapse-on-load-2"] {
  opacity: 0;
  display: block;
  transform: translate(100%);
}

html.w-mod-js [data-ix="watch-shortcut"] {
  opacity: .4;
}

html.w-mod-js [data-ix="footer-load"] {
  transform: translate(0, 100%);
}

html.w-mod-js [data-ix="w-menu-load"] {
  transform: translate(-40px);
}

html.w-mod-js [data-ix="logoload"], html.w-mod-js [data-ix="power-on-wrapper"], html.w-mod-js [data-ix="load-in1"], html.w-mod-js [data-ix="load-in-2"], html.w-mod-js [data-ix="home-load"] {
  opacity: 0;
}

html.w-mod-js [data-ix="splasher"] {
  display: flex;
}

html.w-mod-js [data-ix="progress-bar"] {
  width: 0;
}

html.w-mod-js [data-ix="user-section-content-loa"] {
  height: 0;
}

@media screen and (max-width: 991px) {
  .navigation {
    padding: 25px 30px;
  }

  .div-block-4 {
    text-align: center;
    align-items: center;
    margin-left: 0;
    padding-bottom: 20px;
    line-height: 24px;
  }

  .team-member-title-wrap {
    margin-bottom: 30px;
  }

  .about-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
  }

  .about-grid.cc-about-2 {
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         ".";
  }

  .div-block-4-copy {
    text-align: center;
    align-items: center;
    margin-left: 0;
    padding-bottom: 20px;
    line-height: 24px;
  }

  .button {
    justify-content: center;
  }

  .div-block-6 {
    flex-direction: column;
    align-items: center;
  }

  .image-4 {
    width: 400px;
  }

  .link-block {
    flex-direction: column;
    flex: 1;
    max-width: 300px;
  }

  .intro-header {
    justify-content: flex-start;
    align-items: center;
    height: auto;
    padding-top: 120px;
    padding-bottom: 0;
    display: flex;
  }

  .heading-jumbo-small {
    font-size: 24px;
    line-height: 30px;
  }

  .image-2 {
    width: 240px;
  }
}

@media screen and (max-width: 767px) {
  .paragraph-2 {
    border-left-style: none;
    padding-left: 0;
  }

  .navigation {
    padding: 20px 30px;
  }

  .team-pic {
    height: 300px;
    margin-bottom: 30px;
  }

  .text-block-2 {
    text-align: left;
  }

  .section, .section.cc-store-home-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .intro-content {
    width: 80%;
  }

  .team-member-name {
    font-size: 16px;
    line-height: 28px;
  }

  .intro-header {
    height: 400px;
    padding-top: 100px;
  }

  .heading {
    text-align: left;
  }

  .form-contact {
    width: 100%;
  }

  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .paragraph-3 {
    text-align: left;
  }

  .container-2 {
    text-align: center;
  }

  .column {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .body-2 {
    background-color: var(--midnight-blue);
    padding-bottom: 50px;
    overflow: visible;
  }

  .image {
    opacity: .1;
    filter: invert() brightness(200%);
    margin-bottom: 25px;
  }

  .submit-button {
    color: #ffffff40;
    text-transform: uppercase;
    background-color: #0000;
    border: 1px solid #ffffff40;
    height: 50px;
  }

  .text-field {
    color: #f1f1f140;
    text-align: center;
    text-transform: uppercase;
    background-color: #0000;
    border: 1px solid #f1f1f140;
    border-radius: 0;
    height: 50px;
    margin-bottom: 25px;
  }

  .text-field:focus {
    border-color: #ffffff40;
  }

  .text-field::placeholder {
    color: #ffffff40;
  }

  .paragraph-2 {
    font-size: 14px;
    line-height: 24px;
  }

  .navigation {
    padding-left: 20px;
    padding-right: 20px;
  }

  .team-pic._1 {
    overflow: visible;
  }

  .div-block-4-copy {
    margin-bottom: 0;
  }

  .button-2 {
    margin-left: 20px;
  }

  .div-block-5 {
    width: 100%;
  }

  .text-block-4 {
    font-size: 9px;
    line-height: 10px;
  }

  .text-block-2 {
    font-size: 14px;
    line-height: 20px;
  }

  .section.cc-store-home-wrap._1 {
    margin-left: 0;
    margin-right: 0;
  }

  .intro-content.cc-homepage {
    width: 90%;
    max-width: none;
  }

  .link-block {
    margin-bottom: 20px;
  }

  .intro-header {
    height: auto;
    padding-top: 100px;
  }

  .heading {
    font-size: 20px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 20px;
  }

  .paragraph._3 {
    font-size: 12px;
  }

  .heading-jumbo-small._2 {
    font-size: 18px;
    line-height: 30px;
  }

  .text-span {
    text-align: left;
  }

  .paragraph-3 {
    font-size: 12px;
  }

  .div-block-2 {
    flex-direction: column;
    align-items: stretch;
  }

  .div-block-2.last {
    align-items: stretch;
  }

  .link-4 {
    width: 20px;
  }

  .container-2 {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .paragraph-light {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  .link-2 {
    margin-top: 10px;
    margin-right: 10px;
  }

  .paragraph-4 {
    text-align: left;
  }

  .div-block-14 {
    padding: 10px 12px;
  }

  .paragraph-5 {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-wrap {
    padding-bottom: 300px;
  }

  .form-block-copy {
    width: 90%;
  }

  .nav-link {
    padding-left: 10px;
    font-size: 14px;
  }
}


@font-face {
  font-family: 'Fa Brands 400';
  src: url('../fonts/fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa Solid 900';
  src: url('../fonts/fa-solid-900.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}